div {
	margin-bottom: 10px;
}

#main-body{
	min-width: 70%;
	max-width: 700px;
	margin: 0 auto;
	float: right;
}

#span-example{
	border: 1px solid black;
	background-color: #F0F0F0;
}

#navbar{
	width: 110%;
	left: -10px;
	position: fixed;
	top: 0px;
	/* When the button is pressed, this attribute is changed to allow us
	 * to see the navbar. */
	display: none;
	height: 25px;
	text-align: center;
	background-color: black;
	color: white;
}

#sidebar{
	margin-top: 25px;
	border: 2px solid black;
	float: left;
	width: 20%;
	display: none;
}
